.fullReviews{
    width: 100%;
    height: 100%;
    position: relative;
}
.reviewsMainPhoto{
    transition: .4s;
    width: 230px;
    height: 200px;
    border: 7px solid rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    margin-top: 2rem;
    margin-left: 10rem;
}
.reviewsMainPhoto:hover{
    transition: .4s;
    border: 17px solid rgba(255, 255, 255, 0.7);
}
.reviewsTop{
    display: flex;
    margin: auto;
}
.reviewsTop::after{
    -webkit-transition: all 0.9s ease-in;
    content:"";
    position: absolute;
    z-index: -1;
    height: 37rem;
    width:100%;
    background-color: #abf0e9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    transform-origin: top left;
    transform: skewY(-50deg);
}

.reviewsTopHover::after{
    -webkit-transition: all 0.9s ease-in;
    content:"";
    position: absolute;
    z-index: -1;
    height: 50rem;
    width:100%;
    background-color: #abf0e9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    transform-origin: top left;
    transform: skewY(-35deg);
}

.reviewsHeading{
    padding-top: 3rem;
    padding-left: 7rem;
    font-size: 25px;
    display: block;
    max-width: 24rem;
    color: rgba(0,0,0,.87)
}

.reviewPhoto{
    width: 50rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7rem;
    margin-right: 3rem;
}
.reviewPhotoInSlider{
    height: 35rem;
}

.reviews{
    transition: .5s;
    justify-content: center;
    margin-top: 15rem;
    padding-bottom: 20rem;
    height: 100%;
    position: relative;
    display: flex;
}


.reviewsAdd{
    justify-content: center;
    display: flex;
    margin-left: 0.7rem;
    margin-bottom: 0.3rem;
    left: 0;
    bottom: 0;
    transition: .5s;
    text-align: center;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    color:rgba(0,0,0, .87);
    text-decoration: none;
    width: 12rem;
    position: absolute;
    border: 3px solid #a8e6cf;
    border-radius: 50px;
}
.reviewsAdd:hover{
    color: #fff;
    transition: .5s;
    background-color: #a8e6cf;
    box-shadow: 23px 23px 23px rgba(0,0,0,.2);
}

.reviewsAddText{
    position: absolute;
    font-size: 22px;
}

@media  screen and (max-device-width: 400px){
.reviewPhotoInSlider{
        height: 23rem;
    }   
.reviewPhoto{
    width: 30rem;
}
.reviewsMainPhoto{
    margin-left: 3rem;
}
.reviewsHeading{
    padding-left: 2rem;
}
}